*,*::before,*::after{
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}
a{
    display: block;
    text-decoration: none;
    &:hover{
        opacity: 0.8;
    }
}
span{
    color: $color-gray-900;
}

.d-flex{
    display: flex;
}

.mr-16{
    margin-right: 16px;
}
.mr-30{
    margin-right: 30px;
}

.mb-4{
    margin-bottom: 4px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-28{
    margin-bottom: 28px;
}
.mb-40{
    margin-bottom: 40px;
}